<div class="row justify-content-center align-items-center">
       <div class="col-md-3">
            <img src="../../assets/img/sale.PNG" alt="">
       </div>
       <div class="col-md-5">
            <label class="switch ">
                <input type="checkbox" class="primary">
                <span class="slider round"></span>
            </label>
       </div>
</div>
<br>
<div class="row justify-content-center align-items-center">
        <div class="col-md-3">
             <img src="../../assets/img/calendar.PNG" alt="">
        </div>
        <div class="col-md-5">
             <label class="switch ">
                 <input type="checkbox" class="primary">
                 <span class="slider round"></span>
             </label>
        </div>
 </div>
<br>
<div class="row justify-content-center align-items-center">
    <div class="col-md-3">
            <img src="../../assets/img/heart.PNG" alt="">
    </div>
    <div class="col-md-5">
            <label class="switch ">
                <input type="checkbox" class="primary">
                <span class="slider round"></span>
            </label>
    </div>
</div>
<hr class="divisores">
<h4>Status</h4>
<br>
<div class="row justify-content-center align-items-center">
    <div class="col-md-9">
        <button type="button" class="btn btn-outline-secondary btn-lg btn-block fondo-boton"><i class="fas fa-search"></i>&nbsp;&nbsp; Search</button>
    </div>
</div>
<br>
<div class="row justify-content-center align-items-center">
    <div class="col-md-9">
        <button type="button" class="btn btn-outline-secondary btn-lg btn-block fondo-boton">DELIVERED</button>
    </div>
</div>