<div class="row">
  <div class="col-md-3">
    <div class="row">
      <img class="logo-principal" src="assets/img/logo.PNG" alt="Logo Principal">
    </div>

    <div class="row">
      <div class="col-md-12 text-center font-color">
        <h4><i class="far fa-lightbulb"></i> &nbsp; &nbsp;Smart Filters</h4>
        <hr class="divisores">
        <app-smart-filters></app-smart-filters>
      </div>
    </div>
  </div>

  <div class="col-md-9">
      <app-barra-navegacion></app-barra-navegacion>
      <br>
      <app-home></app-home>
  </div>
</div>