<div class="container">
    <div class="row" style="margin-top: 90px !important;">
        <div class="col-md-12"> 
        <!-- Nav tabs -->
        <div class="card">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" id="home-tab">
                    <a href="#home" aria-controls="home" role="tab" data-toggle="tab" style="color: white !important;">
                        <div class="row justify-content-center align-items-center">
                            <i class="fa fa-home"></i>
                        </div>  
                        <div class="row justify-content-center align-items-center">
                                <span id="texto-icono">Home</span>
                        </div>
                    </a>
                </li>
                <li role="presentation">
                    <a href="#messages" aria-controls="messages" role="tab" data-toggle="tab" style="color: #193948 !important;">
                        <div class="row justify-content-center align-items-center">
                            <i class="fa fa-envelope"></i>
                        </div>  
                        <div class="row justify-content-center align-items-center">
                                <span id="texto-icono">Messages</span>
                        </div>
                    </a>
                </li>
                <li role="presentation">
                    <a href="#wish" aria-controls="wish" role="tab" data-toggle="tab" style="color: #193948 !important;">
                        <div class="row justify-content-center align-items-center">
                            <i class="fas fa-star"></i>
                        </div>  
                        <div class="row justify-content-center align-items-center">
                                <span id="texto-icono">Wishlist</span>
                        </div>
                    </a>
                </li>
                <li role="presentation">
                    <a href="#settings" aria-controls="settings" role="tab" data-toggle="tab" style="color: #193948 !important;">
                        <div class="row justify-content-center align-items-center">
                            <i class="fas fa-cog"></i>
                        </div>  
                        <div class="row justify-content-center align-items-center">
                                <span id="texto-icono">Settings</span>
                        </div>
                    </a>
                </li>
                <li role="presentation">
                    <a href="#account" aria-controls="account" role="tab" data-toggle="tab" style="color: #193948 !important;">
                        <div class="row justify-content-center align-items-center">
                            <i class="fas fa-user"></i>
                        </div>  
                        <div class="row justify-content-center align-items-center">
                                <span id="texto-icono">My Account</span>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        </div>
    </div>
</div>