<div class="container">
    <div class="row">
        <div class="col-md-8">
            <img src="../../assets/img/ok.PNG" alt="">
        </div>
        <div class="col-md-4">
                <button type="button" class="btn btn-outline-secondary btn-lg btn-block fondo-boton" style="padding: 10px;"><i class="fas fa-search"></i>&nbsp;&nbsp; Search</button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-1" style="padding-top: 45px;">
            <img src="../../assets/img/ok.PNG" alt="">
        </div>
        <div class="col-md-11">            
            <table class="contenedor-home">
                <tr>
                    <td style="padding: 30px; color: #858585; text-align: center; border-right: 1px solid #c4c4c4;">
                        <h4>Monday <br> 10th 2:28 <br> PM</h4>
                    </td>
                    <td colspan="6">
                        <tr>
                            <td colspan="2" style="padding: 30px; color: #858585;">
                                <i class="fas fa-location-arrow"  style="font-size: 30px;"></i>
                            </td>
                            <td colspan="4"  style="padding-right: 20px; border-right: 1px solid #c4c4c4;">
                                <tr class="text-center" style="color: #858585;">
                                    <h4>Houston, TX, 33619</h4>
                                </tr>
                                <tr class="text-center">
                                    <i class="fas fa-chevron-down" style="font-size: 50px; color: #858585;"></i>
                                </tr>
                                <tr class="text-center" style="color: #858585;">
                                    <h4>Atlanta, GA, 30123</h4>
                                </tr>
                            </td>
                        </tr>
                    </td>
                    <td colspan="6">
                        <tr>
                            <td style="padding: 30px; color: #858585;">
                                <i class="fas fa-truck" style="font-size: 70px;"></i>
                            </td>
                            <td style="padding: 30px; color: #858585;">
                                <h1>$250.00</h1>
                            </td>
                            <td style="padding: 30px;">
                                <div style="border: 1px solid red; border-radius: 10%; background-color: #ed5356; color: white; padding: 10px; width: 40px; height: 40px; text-align: center;">
                                    <p style="margin-top: -4px;">1</p>
                                </div>
                            </td>
                            <td style="padding: 30px;">
                                <i class="fas fa-ellipsis-v"  style="font-size: 30px; color: #858585;"></i>
                            </td>
                        </tr>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-1" style="padding-top: 45px;">
            <img src="../../assets/img/ok.PNG" alt="">
        </div>
        <div class="col-md-11">            
            <table class="contenedor-home">
                <tr>
                    <td style="padding: 30px; color: #858585; text-align: center; border-right: 1px solid #c4c4c4;">
                        <h4>Monday <br> 10th 2:28 <br> PM</h4>
                    </td>
                    <td colspan="6">
                        <tr>
                            <td colspan="2" style="padding: 30px; color: #858585;">
                                <i class="fas fa-location-arrow"  style="font-size: 30px;"></i>
                            </td>
                            <td colspan="4" style="padding-right: 20px; border-right: 1px solid #c4c4c4;">
                                <tr class="text-center" style="color: #858585;">
                                    <h4>Houston, TX, 33619</h4>
                                </tr>
                                <tr class="text-center">
                                    <i class="fas fa-chevron-down" style="font-size: 50px; color: #858585;"></i>
                                </tr>
                                <tr class="text-center" style="color: #858585;">
                                    <h4>Atlanta, GA, 30123</h4>
                                </tr>
                            </td>
                        </tr>
                    </td>
                    <td colspan="6">
                        <tr>
                            <td style="padding: 30px; color: #858585;">
                                <i class="fas fa-truck" style="font-size: 70px;"></i>
                            </td>
                            <td style="padding: 30px; color: #858585;">
                                <h1>$250.00</h1>
                            </td>
                            <td style="padding: 30px;">
                                <div style="border: 1px solid red; border-radius: 10%; background-color: #ed5356; color: white; padding: 10px; width: 40px; height: 40px; text-align: center;">
                                    <p style="margin-top: -4px;">1</p>
                                </div>
                            </td>
                            <td style="padding: 30px;">
                                <i class="fas fa-ellipsis-v"  style="font-size: 30px; color: #858585;"></i>
                            </td>
                        </tr>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-1" style="padding-top: 45px;">
            <img src="../../assets/img/ok.PNG" alt="">
        </div>
        <div class="col-md-11">            
            <table class="contenedor-home">
                <tr>
                    <td style="padding: 30px; color: #858585; text-align: center; border-right: 1px solid #c4c4c4;">
                        <h4>Monday <br> 10th 2:28 <br> PM</h4>
                    </td>
                    <td colspan="6">
                        <tr>
                            <td colspan="2" style="padding: 30px; color: #858585;">
                                <i class="fas fa-location-arrow"  style="font-size: 30px;"></i>
                            </td>
                            <td colspan="4"  style="padding-right: 20px; border-right: 1px solid #c4c4c4;">
                                <tr class="text-center" style="color: #858585;">
                                    <h4>Houston, TX, 33619</h4>
                                </tr>
                                <tr class="text-center">
                                    <i class="fas fa-chevron-down" style="font-size: 50px; color: #858585;"></i>
                                </tr>
                                <tr class="text-center" style="color: #858585;">
                                    <h4>Atlanta, GA, 30123</h4>
                                </tr>
                            </td>
                        </tr>
                    </td>
                    <td colspan="6">
                        <tr>
                            <td style="padding: 30px; color: #858585;">
                                <i class="fas fa-truck" style="font-size: 70px;"></i>
                            </td>
                            <td style="padding: 30px; color: #858585;">
                                <h1>$250.00</h1>
                            </td>
                            <td style="padding: 30px;">
                                <div style="border: 1px solid red; border-radius: 10%; background-color: #ed5356; color: white; padding: 10px; width: 40px; height: 40px; text-align: center;">
                                    <p style="margin-top: -4px;">1</p>
                                </div>
                            </td>
                            <td style="padding: 30px;">
                                <i class="fas fa-ellipsis-v"  style="font-size: 30px; color: #858585;"></i>
                            </td>
                        </tr>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <br>
<div id="boton-flotante">
    <a href="#" class="float">
        <i class="fa fa-plus my-float"></i>
    </a>
</div>

</div>